.calculator {
    background: $background-gradient;
    border-radius: 2rem;
    height: 40rem;
    width: 32rem;

        &__title {
            width: 100%;
            font-weight: 500;
            font-size: 2.5rem;
            margin-top: 2rem;
            padding: 2.5rem;
            display: flex;
            justify-content: center;
            text-align: center;
        }

        &__elements {
            font-weight: 300;
            padding: 3rem;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            flex-direction: column;
        }

        &__input {
            font-family: $font-stack;
            font-weight: 300;
            font-size: 2rem;
            background: $window-background; 
            border: none;
            border-radius: .5rem;
            margin-bottom: 4rem;
            width: 24rem;
            display: block;
            text-align: center;
            padding: 0.5rem;
                &:focus {
                    outline: none;
                }
        }

        &__actions {
            width: 24rem;
            display: flex;
            justify-content: space-between;
            align-items: center;
                button {
                    height: 4rem;
                    width: 4rem;
                    font-family: $font-stack;
                    font-size: 2rem;
                    font-weight: 300;
                    background: $window-background;
                    border: none;
                    border-radius: 50%;
                    cursor: pointer;
                        &:focus {
                            outline: none;
                        }
                        &:hover, :active {
                            background: $pseudoclasses-color;
                            border-color: $pseudoclasses-color;
                            font-weight: 500;
                        }
                }
        }
}

.results {
    font-weight: 300;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    font-size: 1.5rem;
        &__current__all {
            font-weight: 300;
            background-color: $window-background;
            border-radius: .5rem;
            padding: .5rem;
            margin: 0;
            width: 24rem;
        }

        &__current__calculation {
            font-weight: 300;
            margin: 0;
            padding: 1rem;
        }
}